<div class="outer-container">
    <div class="row bg-company">
        <span class="col-4">
            <img src="../assets/images/tb-logo-black.png" class="w-25 m-2 ml-5" alt="Company Logo" routerLink='./'>
        </span>
        <span class="col-4">
            <p class="m-2 text-white text-center"> Welcome to the admin Panel of the Site.</p>
        </span>
        <span class="col-4">
            <i class="fa fa-user pt-1 m-2 mr-5 pull-right" title="Admin User"></i>
            <i class="fa fa-sign-out pt-1 m-2 float-right" title="Logout"></i>
            <a href="https://www.linkedin.com/in/aayushi-kumar/" class="float-right LinkedIn pt-2">
                <img src="../assets/images/linkedin_logo.png" alt="LinkedIn" style="width:20px" class="mx-1">
            </a>
            <a href="https://github.com/AayushiGK" class="float-right pt-2 mx-2">
                <img src="../assets/images/github_logo.png" alt="LinkedIn" style="width:15px">
            </a>
        </span>
    </div>
</div>

<router-outlet></router-outlet>