<div class="container">
    <div class="row">
        <button routerLink="../" type="button" class="col-2 my-2 btn bg-company text-white">
            <i class="fa fa-arrow-left mx-1"></i> Go Back
        </button>
        <input type="text" [(ngModel)]="searchText" placeholder="Search By Product Name"
            class="col-9 mx-4 my-2 form-control border-0">
    </div>
    <div class="row">
        <div *ngIf="products==0" class="w-100 mt-5 text-center">
            <p> ------ No Data Found In the selected category -----</p>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mt-5"
            *ngFor="let product of products | searchPipe: searchText | paginate: { itemsPerPage: 8, currentPage: p }">

            <button type="button" class="btn bg-company float-right">
                <i class="fa fa-trash text-white float-right text-center" title="Delete Product"
                    (click)="deleteProduct(product)"></i>
            </button>
            <div *ngIf="product" routerLink="{{product.p_name}}">
                <img style="height: 250px;" class="w-100" src="{{product?.p_image}}">
                <strong>{{product?.p_name}}</strong>
                <p> {{product?.p_description}}</p>
            </div>
        </div>
    </div>
</div>


<!-- paginate div -->
<div class="row">
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="100"></pagination-controls>
        </div>
    </div>
</div>